node_modules/
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment & secrets
.env
.env.local
.env.*.local
aws-exports.js

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
